<section class="hero-banner">
    <div class="container">
        <div class="hero-banner__wrapper">
            <h1 class="h1 hero-banner__h1 text-01-color">
                Отправьте одну заявку на&nbsp;кредит или&nbsp;рассрочку сразу в&nbsp;несколько банков
            </h1>
            <p class="subtitle hero-banner__subtitle text-02-color">
                Менеджер свяжется с&nbsp;вами по&nbsp;телефону и&nbsp;расскажет об&nbsp;одобренных предложениях
            </p>
        </div>
    </div>
</section>