<div class="goods-grid goods-card @@class-wrapper">
    <div class="@@class-column-1">
        @@include('../../UI/files/input-placeholder.html', {
            'class-input-wrapper': '@@class-input-wrapper',
            'class-input-value': '@@class-input-value',
            'class-input-placeholder': '@@class-input-placeholder',
            'value': '@@input-value-1',
            'placeholder': '@@input-placeholder-1',
            'name': '@@input-name-1',
            'type': '@@input-type-1',
            'required': '@@required-1'
        })
    </div>
    <div class="@@class-column-2">
        @@include('../../UI/files/input-placeholder.html', {
            'class-input-wrapper': '@@class-input-wrapper',
            'class-input-value': '@@class-input-value',
            'class-input-placeholder': '@@class-input-placeholder',
            'value': '@@input-value-2',
            'placeholder': '@@input-placeholder-2',
            'name': '@@input-name-2',
            'type': '@@input-type-2',
            'required': '@@required-2'
        })
    </div>
    <div class="@@class-column-3">
        @@include('../../UI/files/button-with-icon.html', {
            'type': '@@type-btn',
            'class-btn-wrapper': '@@class-btn-wrapper',
            'class-btn': '@@class-btn',
            'class-text': '@@class-text',
            'text': '@@btn-text',
            'alt': '@@alt',
            'src': '@@src',
        })
    </div>
</div>