<section class="window-order bg-03">
    <div class="window-order__window-wrapper">
        <div class="window window-order__window">
            <div class="window-order__img-wrapper">
                <img class="window-order__img" alt="success" src="@img/circle-check-green.svg"/>
            </div>
            <span class="h1 text-01-color window-order__title">
                Заявка №&nbsp;<span class="window-order__title-number">1000020194</span> успешно отправлена.
            </span>
            <span class="small text-03-color window-order__hint">
                Ожидайте звонка в&nbsp;течение 10&nbsp;минут с&nbsp;7:00 до&nbsp;21:00 по&nbsp;московскому времени.
            </span>
        </div>
    </div>
</section>