@import '../../common/files/variables.scss';

.header {
    background-color: $bg01;

    &__wrapper {
        padding: 12px 0;
    }
}

@media screen and (max-width: 991px) {
    .header {
        &__header-links {
            max-width: 400px;
        }
    }
}

@media screen and (max-width: 767px) {
    .header {
        &__container {
            padding-top: 7px;
            padding-bottom: 7px;
        }
        &__header-links {
            max-width: none;
            justify-content: flex-end;
        }
    }
}
