/** Цвет фона */
$bg01: #3d4040;
$bg02: #c9c9c9;
$bg03: #f5f5f5;
$bg04: #ffffff;

/** Цвет текста */
$text01: #333333;
$text02: #666666;
$text03: #999999;
$text04: #b3b3b3;
$text05: #ffffff;
$primary: #84b245;
$btnColor01: #9c9ab1;

/** Цвет границ */
$border01: #c1c1c1;
$border02: #c3c3c3;
$border03: #e3e3e3;

/** Ссылки на иконки */
$checkMarkGreenIcon: '../img/green-check.svg';
$chevronLeftGreenIcon: './img/chevron-left-green.svg';
$crossGreyIcon: './img/cross-grey.svg';
$crossWhiteIcon: './img/cross-white.svg';

/** Картинки */
$mainBgURL01: '../img/main-bg-01.svg';
$mainBgURL02: '../img/main-bg-02.svg';