<div class="@@class-wrapper">    
    <h2 class="h2 progress-header__title @@class-title">
        @@title
    </h2>
    <p class="subtitle progress-header__subtitle text-01-color @@class-subtitle">
        @@subtitle
    </p>
    <div>
        @@include('../../UI/files/step-progress.html', {
            'class': '@@class-step-progress',
            'class-step-1': '@@class-step-1',
            'class-step-2': '@@class-step-2',
            'class-step-3': '@@class-step-3',
        })
    </div>
</div>