<div class="modal-window">
    <div class="modal-window__content">
        <span class="h2 text-01-color modal-window__title">
            Создать товар
        </span>
        <div class="modal-window__grid">
            @@include('../../UI/files/input-placeholder.html', {
                'class-input-wrapper': 'modal-window__input-wrapper',
                'class-input-value': 'modal-window__input-value',
                'class-input-placeholder': '',
                'value': '',
                'placeholder': 'Название товара',
                'name': 'date-birthday',
                'type': 'text',
                'required': 'true'
            })
            @@include('../../UI/files/input-placeholder.html', {
                'class-input-wrapper': 'modal-window__input-wrapper',
                'class-input-value': 'modal-window__input-value',
                'class-input-placeholder': '',
                'value': '',
                'placeholder': 'Стоимость',
                'name': 'date-birthday',
                'type': 'text',
                'required': 'true'
            })
        </div>
        <div class="modal-window__btn-add-wrapper">
            @@include('../../UI/files/button.html', {
                'class-btn': 'modal-window__btn bg-primary text-05-color modal-window__btn-add',
                'text': 'Добавить',
                'type-btn': 'button'
            })
        </div>

        <div class="modal-window__btn-close-wrapper">
            @@include('../../UI/files/button.html', {
                'class-btn': 'modal-window__btn modal-window__btn-close',
                'text': '',
                'type-btn': 'button'
            })
        </div>
    </div>
</div>